$bg_left-color: #2b5a84;
$fz-head: 22px;
$fz-sm: 16px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//wrapper
.wrapper {
    display: flex;
    max-width: 1920px;
    width: 100%;
    font-family: Open Sans, sans-serif;
    color: #fff;
//    left_col
    .left_col {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 600px;
        width: 100%;
        background-color: $bg_left-color;
        font-size: $fz-head;
        
        .avatar {
            max-width: 120px;
            height: 120px;
            width: 100%;
            margin: 0 auto;
            margin-top: 30px;
            border-radius: 100%;
            background-color: #fff;
            
            img {
                display: block;
                margin: 0 auto;
                max-width: 90px;
                width: 100%;
                padding-top: 15px;
            }
        }
        .name {
            font-size: 65px;
            text-align: center;
        }
        
        .user_status {
            font-size: 25px;
            text-align: center;
            text-transform: uppercase;
        }
        
        .box {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            max-width: 400px;
            width: 100%;
            margin: auto;
            padding: 10px;
            
            .head {                
                font-size: $fz-head;
                margin: 50px 0;
                
                img {
                    max-width: 40px;
                    width: 100%;
                    margin-right: 20px;
                    
                }
                
            }
            .title {
                font-size: $fz-sm;
                line-height: 25px;
            }
            .head_sm {
                font-size: 22px;
                margin: 30px 0;
                
            } 
            .interest_flex {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                font-size: $fz-sm;
                width: 100%;

                &-box {
                    max-width: 180px;
                    width: 100%;
                    line-height: 40px;
                    margin: 10px;
                    
                    img {
                        max-width: 40px;
                        width: 100%;
                        float: left;
                        margin-right: 15px;
                    }
                }
            }
            .contact_flex {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                font-size: $fz-sm;
                width: 100%;
                
                &-box {
                    width: 100%;
                    line-height: 40px;
                    margin: 10px;
                    
                    img {
                        max-width: 25px;
                        width: 100%;
                        margin-right: 15px;
                        float: left;
                    }
                    
                }
            }
            .social {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;                
                max-width: 400px;
                width: 100%;
                margin-top: 50px;
                margin-bottom: 50px;
                
                a {
                    display: block;
                    
                    img {
                    max-width: 50px;
                    width: 100%;
                    }
                }
                a:hover {
                    transform: scale(1.1);
                }
                
            }
            
        }
    }
//    right_col
    .right_col {
        padding: 30px;
        color: #000;
        
        .head {
            font-size: 50px;
            margin-top: 50px;
            margin-bottom: 30px;
        }
        
        .studies {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            max-width: 550px;
            width: 100%;
            font-size: 20px;
            
            &_year {
                width: 200px;
                margin: 10px;
            }
            
            &_descr {
                width: 300px;
                margin: 10px;
            }            
        }
        
        .head_descr {
            font-size: 30px;
            max-width: 700px;
            margin-bottom: 30px;
        }
        .skill {
            display: flex;
            flex-direction: column;
            align-content: center;
            max-width: 900px;
            width: 100%;
            
            &_item {
                display: flex;
                justify-content: center;
                margin: 20px;
                align-items: center;
                
                span {
                    display: block;
                    width: 100px;
                    margin-left: 30px;
                    margin-right: 30px;
                    font-weight: 600;
                    font-size: 20px;
                }
                progress {
                    max-width: 400px;                    
                    min-width: 200px;
                    align-self: center;
                    width: 100%;
                    text-align: center;
                    
                }
            
            }
        }
        .work {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            max-width: 550px;
            width: 100%;
            font-size: 20px;
            
            &_year {
                width: 200px;
                margin: 10px;
            }
            
            &_descr {
                width: 300px;
                margin: 10px;
            }
        }
        .portfolio {
            max-width: 500px;
            width: 100%;
            
            ol {
                margin-left: 30px;
                
                li {
                    margin: 20px;
                    
                    a {
                        display: block;
                        font-size: 16px;
                        text-decoration: none;
                        color: #2b5a84;
                        transition: 0.2s ease;
                        max-width: 150px;
                        padding: 5px;
                        border-radius: 2px;
                    }
                    a:hover {
                        color: #fff;
                        background-color: #2b5a84;
                    }
                }
            }
        }
    }
}
/* monitors and laptops */
@media screen and (min-width: 1240px)  {
    
}

/* tablet */
@media screen and (min-width: 1024px) and (max-width: 1240px)  {
    
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        margin: auto;
        
        .left_col {
            max-width: 1024px;
            width: 100%;            
        }
        
    }
}

/* mobile */
@media screen and (max-width: 768px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        
        .left_col {
            max-width: 768px;
            width: 100%;
        }
        
        .skill {
            max-width: 700px;
            
            &_item {               
                
            }
        }
    }
}
@media screen and (max-width: 480px) {
    .skill {
        
        &_item {           
            
            progress {
                display: none;
            }
        }
    }   
}
    
    
